@page
@{
    ViewData["Title"] = "Administration";
}

<div class="text-center">
    <h1 class="display-4">Administration</h1>
</div>

<div>
    <p>
        gthx is a bot running in the IRC channel #reprap that provides features such as:
        <ul>
            <li>Storing and retrieving factoids</li>
            <li>Keeping track of users and the last messages they sent</li>
            <li>Leaving messages for users who are not currently online</li>
            <li>And more coming soon!!</li>
        </ul>
    </p>
</div>


