@page
@model GthxNet.Pages.FactoidsModel
@{
}
<h1>Factoids</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" name="searchTerm" />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table table-bordered" id="table" data-toggle="table">
    <thead>
        <tr>
            <th>Factoid</th>
            <th class="bs-checkbox">Are?</th>
            <th class="table-success">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var factoid in Model.Factoids)
        {
            <tr>
                <td>@factoid.Item</td>
                <td class="bs-checkbox">
                    <label>
                        @if (factoid.IsAre)
                        {
                            <input data-index="0" name="btSelectItem" type="checkbox" checked />
                        }
                        else
                        {
                            <input data-index="0" name="btSelectItem" type="checkbox" />
                        }
                        <span></span>
                    </label>
                </td>
                <td>@factoid.Value</td>
            </tr>
        }
    </tbody>
</table>

